API_PORT = 3000 # Port for the API server
NODE_ENV = development # Environment: development, production, test
DB_HOST = host #Database host
DB_PORT = port #Database port
DB_USER = user #Database user
DB_PASSWORD = password#Database password
DB_NAME = db #Database name